<suite name="Suite1" verbose="1" >
    <test name="Reg"> -
        <groups>
            <run>
                <include name = "negative"/>
            </run>
        </groups>
        <classes>
            <class name="tests.Login"/>
            <class name="tests.Registration"/>

        </classes>
    </test>
</suite>
